* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap: calc(var(--index) * 7.5)
}
a {
  text-decoration: none;
  color: inherit;
  
}
ul, ul li {
	list-style: none;
}
@font-face {
	font-family: raleway-c;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: outfit-c;
	src: url(../fonts/outfit-regular.woff2);
}
h1, h2, h3, h4, h5, h6 {
	font-family: outfit-c;
}
/* will-change */
.content, .hero, .main-header, .gallery > * {
	will-change: transform;
}
body {
	/*background-image: url(../img/bg.jpg);*/
  background-color: #080a07;
	background-size: 50px;
	color: #fafafa;
	font-family: raleway-c;
	overflow-x: hidden;
}
.hero {
	width: calc(var(--index) * 36);
	position: absolute;
	left: 37vw;
	top: 22vh;
	z-index: -1;
}
.main-header {
	height: 100vh;
}
/*.container {
	padding: 0 7vw;
}*/
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
.section {
  padding: 70px 0;
}
.main-title {
	font-size: calc(var(--index) * 5);
	position: absolute;
	width: min-content;
	bottom: 12vh;
	line-height: .9;
}
.gallery {
	display: flex;
	padding: calc(var(--index) * 8) 0;
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.my_items:hover{
 opacity: 0.7;
 cursor: pointer;
}
.gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 8px;
}
.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
}
.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
}
.text-block {
	color: var(--color-text);
	position: relative;
}
.text-block__h {
  
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
}
.text-block__p {
	line-height: 1.75;
}
.text-block__h:hover{
color: yellowgreen;
}
.text-block__p:hover {
	color: yellowgreen;
}
.name {
  text-align: center;
  font-size: 18px;
  color:white;
  padding-bottom: 20px;
}

/* Footer */

.footer {
  margin-top: auto;
  padding: 60px 0 50px;
  background-color: var(--dark-bg);
  color: var(--header-text);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 27px;
}

.social {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.copyright {
  font-size: 16px;
  color: var(--accent);
}

.copyright p + p {
  margin-top: 0.5em;
}
.name{
      color: var(--accent);
}


.none {
  display: none !important;
}


.nav-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  padding-top: 20px;
}

.nav-list__link {
  color: var(--header-text);
  transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
  opacity: 0.8;
}

.nav-list__link--active {
  position: relative;
}

.nav-list__link--active::before {
  content: "";

  position: absolute;
  left: 0;
  top: 100%;

  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--accent);
}
/* Content list */

.content-list {
  margin: 0 auto;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  text-align: center;
}

.content-list a {
  color: var(--accent);
}

.content-list__item {
  font-size: 18px;
  line-height: 1.5;
}

.content-list__item p + p {
  margin-top: 0.5em;
}
.title-1 {
  margin-bottom: 60px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--title-1);
  text-align: center;
}
.title-1:hover{
  color: yellowgreen;
}
.title-2 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
}
.title-2:hover{
  color: yellowgreen;
}
/* Social */

.social {
  column-gap: 40px;
  justify-content: space-between;
}

.social__item {
  width: 28px;
}
.social__item:hover{
  opacity: 0.7;
}


/* Media Queries */
@media screen and (max-width: 700px) {
	.container {
		padding: 0 10px;
	}
  .gallery {
		padding: calc(var(--index) * 6) 0;
	}
  .gallery__item {
		max-width: calc(var(--index) * 18);
	}
}

@media screen and (max-width: 580px) {
	.container {
		padding: 0 5px;
	}
	.main-title {
		bottom: 8vh;
	}
	.gallery {
		padding: calc(var(--index) * 6) 0;
	}
  .gallery__item {
		max-width: calc(var(--index) * 12);
	}
}

@media screen and (max-width: 400px) {
	.container {
		padding: 0 3px;
	}
	.main-title {
		bottom: 5vh;
	}
	.gallery {
		padding: calc(var(--index) * 4) 0;
	}
	.gallery__item {
		max-width: calc(var(--index) * 13);
	}
  .text-block__h{
    font-size: 22px;
    line-height: 1.4rem;
  }
  .hero {
    /*width: 220px;*/
    display: none;
  }
  
  .main-title{
    font-size: calc(var(--index) * 4);
  }
  
  .main-header {
    top: 50px;
}
}

